<div class="mt-4">
  <form novalidate [formGroup]="cityForm" (ngSubmit)="onAdd(cityForm)">
    <div class="form-group row"
         [class.has-danger]="formErrors.from || formErrors.to">
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">From:</span>
          <input class="flatpickr form-control" [class.form-control-danger]="formErrors.from"
                [maxDate]="toInput.value" #fromInput
                [currentValue]="fromLimit"
                date-picker type="text" formControlName="from" >
        </div>
        <div *ngIf="formErrors.from" class="form-control-feedback">{{formErrors.from}}</div>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">To:</span>
          <input class="flatpickr form-control" [class.form-control-danger]="formErrors.to"
                [minDate]="fromInput.value" #toInput
                date-picker type="text" formControlName="to">
        </div>
        <div *ngIf="formErrors.to" class="form-control-feedback">{{formErrors.to}}</div>
      </div>
    </div>
    <div class="form-group row"
         [class.has-danger]="formErrors.title"
         [class.has-success]="!formErrors.title && cityForm.get('title').valid && !cityForm.get('title').pristine">
      <div class="input-group col-12">
        <span class="input-group-addon">Title:</span>
        <input class="form-control"
               [class.form-control-danger]="formErrors.title"
               [class.form-control-success]="!formErrors.title && cityForm.get('title').valid && !cityForm.get('title').pristine"
               type="text" formControlName="title" placeholder="Enter Title">
      </div>
      <div *ngIf="formErrors.title" class="form-control-feedback">{{formErrors.title}}</div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <div text-editor [title]="'Description'"
             [text]="cityForm.get('description').value" (onChange)="onChangeHandler($event)">
        </div>
      </div>
    </div>
    <button [disabled]="cityForm.invalid" type="submit" class="btn btn-success btn-lg btn-block">Save City</button>
  </form>
</div>
