@import "../common/variables";

:host {
  /deep/ .medium-editor-element {
    background-color: white;

    padding: 5px;
    border: 1px solid lighten($gray, 20%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    &:focus {
      outline: none;
    }
    &:after {
      margin: 0;
    }
  }
}

.title {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #464a4c;
  text-align: left;
  background-color: #eceeef;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}
