@import '../common/variables';

button {
  &:focus {
    outline: none;
  }
}

hr {
  background: $blue;
}

input.flatpickr.form-control {
  &[readonly]:not([disabled]) {
    background-color: white;
  }
}
