@import "../common/variables";
@import "../common/utils";

@for $i from 1 through length($colors) {
  :host-context([cities-list] > div:nth-child(#{length($colors)}n+#{$i})) {
    &[transfer-list] /deep/ button[md-button] /deep/ {
      .mat-ripple-element {
        background-color: rgba(nth($colors, $i), .1);
      }
      .mat-button-focus-overlay {
        background-color: rgba(nth($colors, $i), .12);
      }
    }
  }
}

button.add-transfer {
  margin-bottom: .25rem;
  width: 100%;
  @include btn-control();
}
