@import "../common/variables";
@import "../common/utils";

@for $i from 1 through length($colors) {
  :host-context(.tab-content > div:nth-child(#{length($colors)}n+#{$i})) {
    &[city-crossing] button[md-button] /deep/ {
      .mat-ripple-element {
        background-color: rgba(nth($colors, $i), .1);
      }
      .mat-button-focus-overlay {
        background-color: rgba(nth($colors, $i), .12);
      }
    }
  }
}

.city-crossing-card {
  min-height: 100px;
  border-style: dashed;
  > div {
    height: 100%;
  }
  .card-img-overlay {
    position: relative;
    flex-grow: 1;
  }
  .card-img {
    min-height: 100%;
    width: 400px;
    opacity: .1;
    background-image: url("../../../assets/city-crossing-img.svg");
    background-size: cover;
  }
  .controls {
    z-index: 2;
    padding: 1.25rem;
    button.control {
      margin-bottom: .25rem;
      @include btn-control();
    }
  }
}

.card {
  margin-left: 100px;
}

button.add-transfer {
  margin-bottom: .25rem;
  width: 100%;
  @include btn-control();
}
