@import "../common/variables";

@for $i from 1 through length($colors) {
  :host-context(.tab-content > div:nth-child(#{length($colors)}n+#{$i})) {
    &[city-crossing] button {
      /deep/ .mat-ripple-element {
        background-color: rgba(nth($colors, $i), .1);
      }
      /deep/ .mat-button-focus-overlay {
        background-color: rgba(nth($colors, $i), .12);
      }
    }
  }
}


.city-crossing-card {
  height: 200px;
  border-style: dashed;
  img {
    width: 400px;
    align-self: flex-end;
    opacity: .1;
  }
  .card-img-overlay {
    width: 98%;
  }
}

.card {
  margin-left: 100px;
}

button {
  margin-bottom: .25rem;
  width: 100%;
  /deep/ span {
    text-transform: uppercase;
    font-weight: bold;
  }
  &:focus {
    outline: none;
  }
}
