<div *ngFor="let transfer of (transfers$ | async)" class="card city-crossing-card">
  <div class="d-flex justify-content-end align-content-stretch flex-wrap">
    <div class="card-img-overlay">
      <div *ngIf="updateMark !== transfer.id">
        <h4 class="card-title">{{transfer.way}}</h4>
        <p class="card-text">
          <small class="text-muted">From:</small>
          {{transfer.from}}
          <small class="text-muted">To:</small>
          {{transfer.to}}
        </p>
        <p class="card-text">{{transfer.info}}</p>
        <p class="card-text">{{getTotalTransferTime(transfer)}}</p>
      </div>
      <div *ngIf="updateMark === transfer.id">
        <form [formGroup]="transferUpdateForm" novalidate>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">From:</label>
            <div class="col-sm-3">
              <input type="text" time-picker class="flatpickr form-control" formControlName="from">
            </div>
            <label class="col-sm-1 col-form-label">To:</label>
            <div class="col-sm-3">
              <input type="text" time-picker class="flatpickr form-control" formControlName="to">
            </div>
          </div>
          <div [class.has-danger]="formErrors.way"
               [class.has-success]="!formErrors.way && transferUpdateForm.get('way').valid && !transferUpdateForm.get('way').pristine">
            <div class="input-group">
              <span class="input-group-addon">Chosen Way</span>
              <input type="text" class="form-control"
                     [class.form-control-danger]="formErrors.way"
                     [class.form-control-success]="!formErrors.way &&
                                               transferUpdateForm.get('way').valid &&
                                               !transferUpdateForm.get('way').pristine"
                     placeholder="Enter the way you chosen" formControlName="way">
            </div>
            <div class="form-control-feedback">{{formErrors.way}}</div>
          </div>
          <br />
          <div class="input-group">
            <span class="input-group-addon">Info</span>
            <input type="text"
                   class="form-control"
                   placeholder="Optional parameter"
                   formControlName="info">
          </div>
        </form>
      </div>
    </div>
    <div class="card-img"></div>
    <div class="controls d-flex align-items-start flex-column" *ngIf="updateMark !== transfer.id">
      <button class="control" md-button (click)="editTransfer(transfer)">Update</button>
      <button class="control" md-button (click)="removeTransfer(transfer)">Delete</button>
    </div>
    <div class="controls d-flex align-items-start flex-column" *ngIf="updateMark === transfer.id">
      <button class="control" md-button (click)="cancelEditTransfer()">Cancel</button>
      <button class="control" md-button (click)="updateTransfer()">Save</button>
    </div>
  </div>
</div>
<button md-button class="add-transfer" (click)="showAddCityTransferModal()">Add city transfer</button>
