<div class="card city-crossing-card">
  <div class="ml-auto p-2">
    <button type="button" class="close" aria-label="Close" (click)="removeTransfer()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <img class="card-img" src="../../../assets/city-crossing-img.svg" alt="Card image">
  <div class="card-img-overlay">
    <h4 class="card-title">By what city crossing way</h4>
    <p class="card-text">Info about time</p>
    <p class="card-text">Additional info</p>
    <p class="card-text">Total time (+estimated arriving time)</p>
  </div>
</div>
