@import "./common/variables";

.tab-travel {
  margin-bottom: 1rem;
}

.mat-sidenav-container {
  background-color: white;
  height: 100vh;
  .mat-sidenav {
    width: 400px;
  }
  .mat-sidenav.mat-sidenav-opened {
    box-shadow: 0 0 20px;
    transition: box-shadow .1s linear;
  }
  /deep/ .mat-sidenav-backdrop.mat-sidenav-shown {
    background-color: transparent;
  }
}

.imports {
  &> span {
    & > button {
      width: 68px;
      height: 68px;
      margin: 20px auto;
      border-radius: 50%;
      display: block;
      .fa {
        font-size: 34px;
      }
    }
  }
}

md-tab-group {
  /deep/ md-tab-header {
    .mat-tab-label-container .mat-tab-list {
      .mat-tab-labels .mat-tab-label {
        font-weight: bold;
      }
    }
  }
}

@media print {
  md-sidenav, h3 {
    display: none;
  }
}

