<div total-days [cities]="(cities$ | async)"></div>
<div slider [cities]="(cities$ | async)"></div>
<ul class="nav nav-tabs tab-travel" role="tablist">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="/travel/city-list" routerLinkActive="active" role="tab">City List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="/travel/city-add" routerLinkActive="active" role="tab">Add City</a>
  </li>
</ul>
<router-outlet></router-outlet>
