<md-sidenav-container>
  <md-sidenav [mode]="'side'" #sidenav>
    <div class="travels">
      <div travel-list [travels]="(travels$ | async)" (disableTab)="disabled($event)"></div>
    </div>
    <div class="imports">
      <span [mdTooltip]="'Export travel'" [mdTooltipPosition]="'right'">
        <button type="button" (click)="showExportModal()" class="btn btn-secondary"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
      </span>
      <span [mdTooltip]="'Import travel'" [mdTooltipPosition]="'right'">
        <button type="button" (click)="showImportModal()" class="btn btn-secondary"><i class="fa fa-cloud-download" aria-hidden="true"></i></button>
      </span>
    </div>
  </md-sidenav>

  <h3><span class="badge badge-success" (click)="sidenav.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></span></h3>
  <div class="row col-sm-12">
    <div total-days class="col-sm-2"></div>
    <div total-cost class="col-sm-4"></div>
  </div>
  <div slider (updateCities)="updateCities($event)"></div>
  <md-tab-group>
    <md-tab [label]="'City List'">
      <div cities-list></div>
    </md-tab>
    <md-tab [label]="'Add City'" disabled="{{isDisabled}}">
      <div city-add></div>
    </md-tab>
  </md-tab-group>
</md-sidenav-container>
