.city-crossing-card {
  min-height: 100px;
  margin: 3px 0;
  border-style: dashed;
}

.card {
  margin-left: 100px;
}

@media print {
  :host {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
  }
  .card {
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }
}
