<div class="city-point d-flex justify-content-end align-content-stretch flex-wrap">
  <div class="city-point-info">
    <h4>
      <small class="text-muted">From:</small>
      {{city.from}}
      <small class="text-muted">To:</small>
      {{city.to}}
    </h4>
    <form [formGroup]="form" novalidate>
      <div [class.has-danger]="formErrors.title"
           [class.has-success]="!formErrors.title && form.get('title').valid && !form.get('title').pristine">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">Chosen City</span>
          <input type="text" class="form-control"
                 [class.form-control-danger]="formErrors.title"
                 [class.form-control-success]="!formErrors.title &&
                                               form.get('title').valid &&
                                               !form.get('title').pristine"
                 placeholder="Enter the City you chosen" formControlName="title">
        </div>
        <div class="form-control-feedback">{{formErrors.title}}</div>
      </div>
      <br />
      <div text-editor [title]="'Description'"
           [text]="form.get('description').value" (onChange)="onChangeHandler($event)"></div>
    </form>
  </div>
  <div class="controls d-flex align-items-start flex-column">
    <button class="control" md-button (click)="cancel.emit()">Cancel</button>
    <button class="control" md-button (click)="updateAction()">Save</button>
  </div>
</div>
